* {
    font-family: "Courier New";
}

body {
    background-image: url("codefall.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 20px;   
    border-radius: 20px;
    background-color: #0D0D12;
    margin-top: 300px;
    margin-left: 580px;
    margin-right: 580px;
}

p {
    color: white;
}